doctype html

html(lang="es")
        head
                meta(charset="UTF-8")
                meta(name="viewport" content="width=device-width, initial-scale=1.0")
                title= "Page1-prueba"
                link(rel='stylesheet', href='assets/css/styles.css')
                style @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300') 
                style @import url('https://fonts.googleapis.com/css?family=Open+Sans');

                script(src='assets/js/jquery/dist/jquery.min.js')
                script(src='assets/js/onclick.js')


           body 
           .cabecera
              h1 Marca Personal (branding)
              h2 Acceder al mercado laboral

           .content
              .content-buttoms
                 h1.objetivos OBJETIVOS
                 p.subtitle Al final de este m&oacute;dulo, debes estar familiarizado con los siguiente
                 .buttoms
                
                         a.buttom1(href="#")
                          p.section-1 La importancia del auto-marketing
                          a.buttom2.none(href="#")
                           p.section-2 La importancia del auto-marketing
                          a.buttom3.none(href="#")
                           p.section-3 La importancia del auto-marketing
                          a.buttom4.none(href="#")
                           p.section-4 La importancia del auto-marketing


              



