doctype html

html(lang="es")
        head
                meta(charset="UTF-8")
                meta(name="viewport" content="width=device-width, initial-scale=1.0")
                title= "page2-prueba"
                link(rel='stylesheet', href='assets/css/styles.css')
                style @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300') 
                style @import url('https://fonts.googleapis.com/css?family=Open+Sans');

                script(src='assets/js/jquery/dist/jquery.min.js')
                script(src='assets/js/onclick.js')


           body 
           .cabecera
              h1 Marca Personal (branding)
              h2 Acceder al mercado laboral

           .content
              .content-title
                 h1.objetivos 2.Marca Personal (branding)
              .buttoms
                   a.activated#section-1(href="#section-1")
                    p 1. <br>
                    span automarketing
                    a#section-2(href="#section-2")
                      p 2. <br>
                      span Identificación de habilidades
                    a#section-3(href="#section-3")
                      p 3. <br>
                      span Desarrollar mi porpia marca
                    a#section-4(href="#section-4")
                      p 4. <br>
                      span Elevator pitch


                         


              



